@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  @apply bg-off-white;
}

nav ul li {
  @apply my-4 text-lg text-very-dark-blue transition-colors duration-150 hover:cursor-pointer hover:text-soft-orange focus:text-soft-orange md:my-0 md:ml-[2.5rem] md:text-base md:text-dark-gray-blue;
}

p {
  @apply text-dark-gray-blue;
}

#side p {
  @apply text-gray-blue;
}

#side h3 {
  @apply mb-2 text-xl font-700 transition-colors duration-150 hover:cursor-pointer hover:text-soft-orange focus:text-soft-orange;
}

hr {
  @apply border-dark-gray-blue;
}

#side div {
  @apply py-6 first-of-type:pt-4 last-of-type:pb-4;
}

.bottom {
  @apply flex items-stretch gap-4 lg:mt-8;
}

.bottom img {
  @apply h-auto w-[6rem] object-cover;
}

.bottom div {
  @apply flex h-full flex-col justify-between;
}

.bottom h4 {
  @apply text-lg font-800 text-very-dark-blue transition-colors duration-150 hover:cursor-pointer hover:text-soft-red focus:text-soft-red;
}

.attribution a {
  @apply text-soft-red underline;
}

.image {
  grid-area: image;
}

#title {
  grid-area: title;
}

#main-text {
  grid-area: main-text;
}

#side {
  grid-area: side;
}

#bottom1 {
  grid-area: bottom1;
}

#bottom2 {
  grid-area: bottom2;
}

#bottom3 {
  grid-area: bottom3;
}

.main-content {
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "image"
    "title"
    "main-text"
    "side"
    "bottom1"
    "bottom2"
    "bottom3";
}

@media (min-width: 768px) {
  .main-content {
    grid-template-areas:
      "image image side"
      "title main-text side"
      "bottom1 bottom2 bottom3";
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .image {
    max-height: 80vh;
    width: auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}
